:root {
  --numtxt: lightgray;
  --numbg: rgba(100, 100, 100, 0.3);
  --optxt: rgb(255, 187, 247);
  --opbg: rgba(199, 33, 255, 0.3);
  --darkgray: rgb(79, 79, 79);
  --lightdark: rgb(66, 66, 66);
  --dark: rgb(50, 50, 50);
  --darkdark: rgb(30, 30, 30);
  --deletebtn: rgb(60, 60, 60, 0.8);
  --deletetxt: rgb(139, 139, 139);
  --cleanbtn: rgba(255, 225, 0, 0.575);
  --cleantxt: lightgoldenrodyellow;
  --resolvebtn: rgba(199, 33, 255, 0.3);
  --resolvetxt: rgb(255, 187, 247);
}

button {
  border: none;
}
.button:target {
  border: none;
}
.button:active {
  border: none;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  text-align: center;
}
.calc {
  width: 180px;
  border-radius: 20px;
  padding: 10px 14px ;
  background-color: var(--lightdark);
  box-shadow: 1px 1px 10px var(--darkdark),
  0px 0px 1px var(--darkdark),
  inset 0em 8em 8em rgba(203, 203, 203, 0.2),
  inset 0em -4em 8em rgba(24, 24, 24, 0.8);
}
